body {
  font-family: 'News Cycle';
  padding: 0;
}


#video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);

}


.stage-caption {
  color: white;
  padding: 2rem;
  width: 33%;
  margin: 2rem;
  font-size: 1.2rem;
}

.stage-caption h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.section-dark {
  height: 100%;
  width: 100%;
  background: #343638;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
}


html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  background-color: #f8f9fa;
}

.tools-card {
  margin-top: 3.25em;
}