body {
  font-family: 'News Cycle';
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.stage {
  height: 100%;
  width: 100%;
  background: url('https://source.unsplash.com/EJ4qfFp1g8Q/6016x4016') center center no-repeat;
  background-size: cover;
}

/* p {
  letter-spacing: 1px;
} */

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  background-color: #f8f9fa;
}
