body {
  font-family: 'News Cycle';
  padding: 0;
}


/* #video {

  z-index: -5;
} */

/* .stage {
  position: fixed;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
/*    background: url('https://source.unsplash.com/mpzFnoQCwWU/1600x900') center center no-repeat;
  background-size: cover; 
  color: white;
  display: flex;
  align-items: center;
}
*/
.v-text {
  font-size: 1.4rem !important;
  font-weight: 200 !important;
  max-width: 60rem !important;
  margin: 0 auto !important;
  text-align: center !important;
  text-shadow: 1px 1px black !important;
  z-index: 0 !important;
  color: white !important;
  display: flex !important;
  align-items: center !important;
}

.v-text h1 {
  font-weight: bold !important;
  text-transform: uppercase !important;
}
/*
.caption {
    position: fixed;
  min-height: 100%;
  min-width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0);
position: absolute;
top: 12%;
right: 0;
bottom: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
text-align: center; 
} */

.v-overlay {
  position: absolute !important;
  width: 100% !important;
}

.v-text {
  width: 100% !important;
  height: calc(100vh - 80px) !important;
  min-height: 600px !important;
  object-fit: cover !important;
  position: relative !important;
  z-index: 2 !important;
}

video {
  position: absolute !important;
  top: 0 !important;
  z-index: -1 !important;
  width: 100% !important;
  height: calc(100vh - 80px) !important;
  min-height: 600px !important;
  object-fit: cover !important;
}

.section-dark {
  height: 100%;
  width: 100%;
  background: #343638;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
}


html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  background-color: #f8f9fa;
}

.tools-card {
  margin-top: 3.25em;
}